/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.order-table {
	th {
		text-align: center;
	}
	td {
		text-align: center;
		vertical-align: middle!important;
	}
}

.buyer-info {
	dt {
		margin-top: 10px;
		font-weight: 500;
	}
	dd {
		font-size: 11px;
	}
}

.survey-btn{
	width: 21%;
	height: 60px;
	font-size: 12px;
	padding-top: 20px;
}