<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix stepsWrapper signUp setp5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper clearfix stepsPage">
          <div class="page-header" style="border-bottom: 0; text-align:center;">
            <h2>시안 확인</h2>
            <h6>Step 3. 작업된 시안을 확인해주세요</h6>
          </div>

          <!-- Wizard -->
          <div class="row progress-wizard" style="border-bottom:0; margin-top: 20px ">

            <div class="col-xs-3 progress-wizard-step complete fullBar">
              <div class="text-center progress-wizard-stepnum">주문 및 고객정보 입력</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="checkout-step-1.html" class="progress-wizard-dot"></a>
            </div>

            <div class="col-xs-3 progress-wizard-step complete fullBar">
              <div class="text-center progress-wizard-stepnum">결제</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="checkout-step-2.html" class="progress-wizard-dot"></a>
            </div>

            <div class="col-xs-3 progress-wizard-step active">
              <div class="text-center progress-wizard-stepnum">시안 확인</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="checkout-step-3.html" class="progress-wizard-dot"></a>
            </div>

            <div class="col-xs-3 progress-wizard-step disabled">
              <div class="text-center progress-wizard-stepnum">제작 및 배송</div>
              <div class="progress"><div class="progress-bar"></div></div>
              <a href="checkout-step-4.html" class="progress-wizard-dot"></a>
            </div>
          </div>

          <!-- PAYMENT CONTENT SECTION -->
          <div class="page-header">
            <h4>결제 여부</h4>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="cartListInner">
                <div class="thanksContent" style="padding: 35px 15px 25px">
                  <h4 style = "margin: 0px">아직 입금되지 않았습니다</h4>
                  <p>입금 후, 1~2일이 지나도 확인이 되지 않을 경우 000-0000-0000으로 연락주세요</p>
                  <hr>
                  <p style="margin-bottom: 0px">예금주 : (주)고막컬쳐 </p> 
                  <p>은행 : 하나은행 | 222-332-444455 </p> 
                  <h5 style="margin-bottom: 15px">금액 : 331,400 원</h5> 
                </div>
                <div class="thanksContent" style="padding: 35px 15px 25px">
                  <h4 style = "margin: 0px">결제가 완료되었습니다</h4>
                  <p>감사합니다. 증빙서류는 물품과 함께 보내드리도록 하겠습니다</p>
                </div>
              </div>
            </div>
          </div>

          <!-- ORDER CONTENT SECTION -->
          <div class="page-header">
            <h4>시안확인</h4>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="cartListInner">
                <div class="thanksContent" style="border-bottom: 0px; padding: 35px 15px 25px">
                  <h4 style = "margin: 0px">완성된 시안 내역입니다</h4>
                  <p>시안을 확인하신 후 수정사항에 대해 말씀해주세요</p>
                  <p>전화번호 : 010-0000-0000</p> 
                  <p>이메일 : support@gomakculture.com</p> 
                   
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>상품명</th>
                        <th>생성일</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="text-align: center">
                        <td class="col-xs-2">1</td>
                        <td class="col-xs-6">Samsung_씨앗연필_ver_1</td>
                        <td class="col-xs-4">2017-01-04, 17:40</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="thanksContent" style="padding: 35px 15px 25px">
                  <h4 style = "margin: 0px">현재 완성된 시안이 없습니다</h4>
                  <p>010-0000-0000으로 연락주시면 보다 빨리 시안 작업을 진행할 수 있습니다</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<% content_for :javascript do %>
<!-- <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script> -->
<script type="text/javascript">


$(function() {
  
});

</script>

<% end %>















