<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix m-t-60">
  <div class="container">
    <div class="accordion margin-bottom">
      <div class="page-header margin-bottom">
        <h1>FAQ</h1>
        <div class="small-line" style="margin-left: 0px"></div>
        <h5 style="margin-bottom: 10px">찾으시는 답변이 없으면 1 : 1 문의하기를 이용해주세요</h5>
        <a href="/gifts/login" style="color: rgba(0, 0, 0, 0.7); font-weight: bold">[ 1:1 문의하기 ]</a>
      </div>
      <div class="row">
        <div class="col-xs-12" style="padding-right: 0px">
          <div class="accordionCommon" id="accordionTwo">
            <div class="panel-group" id="accordionSecond">
              <div class="panel panel-default" style="border-radius: 0px">
                <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionSecond" href="#collapse-s-1" style="background-color: #fed328; border-radius: 0px; color: black; font-weight: 500">
                  <span>Q1. 인쇄비용은 어떻게 되나요?</span>
                  <span class="iconBlock iconTransparent" style="color: black; font-weight: 500"><i class="fa fa-chevron-down"></i></span>
                  <span class="separator"></span>
                </a>                    
                <div id="collapse-s-1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p> &#09;저희 쇼핑몰의 대부분의 상품은 우산 등의 특정상품을 제외하고는 별도 기재가 없을 경우에 한해서 최소수량 이상을 구매하셨을 경우 실크 1도 인쇄서비스를 기본적으로 제공해 드립니다.(일부상품제외)  실크인쇄가 불가능하거나 실크인쇄 이외의 인쇄가 적용되는 경우에 제품의 상세설명페이지에 인쇄방법 표기란에 표시된 인쇄사양이 적용되며 실크인쇄 이외의 특수인쇄(스티커 부착포함)의 경우 추가적인 인쇄비용이 별도 청구될 수 있습니다. 최소수량 이하의 수량에 대하여 인쇄를 원하실 경우 인쇄기본판비가 추가되며 인쇄기본판비는 제품에 따라 상이하므로 최소수량 이하의 주문을 하시는 고객께서는 주문 전에 미리 저희 콜센터네 문의하셔서 인쇄추가비용에 대한 안내를 받으시기 바랍니다.</p>
                    <p>&#09;우산의 경우 손잡이와 원단에 인쇄하는 가격이 상이하여 옵션선택을 통해 인쇄비용을 단가에 적용 받으실 수 있습니다. 2도 이상의 인쇄를 원하시는 경우 먼저 인쇄가능여부를 콜센터에 문의하시고 인쇄도수 추가에 대한 비용은 주문하시는 고객께서 부담하셔야 합니다.</p>
                    <p>&#09;레이저 인쇄나 프레스, 불박인쇄 등은 실크인쇄와는 달리 반영구적인 인쇄문구의 보존이 가능하지만 색상의 표현등이 불가한 점을 감안하셔서 주문하시기 바랍니다.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default" style="border-radius: 0px">
                <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionSecond" href="#collapse-s-2" style="background-color: rgba(0,0,0,0.8); border-radius: 0px">
                  <span>Q1. 인쇄비용은 어떻게 되나요?</span>
                  <span class="iconBlock iconTransparent"><i class="fa fa-chevron-down"></i></span>
                  <span class="separator"></span>
                </a>                    
                <div id="collapse-s-2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p> &#09;저희 쇼핑몰의 대부분의 상품은 우산 등의 특정상품을 제외하고는 별도 기재가 없을 경우에 한해서 최소수량 이상을 구매하셨을 경우 실크 1도 인쇄서비스를 기본적으로 제공해 드립니다.(일부상품제외)  실크인쇄가 불가능하거나 실크인쇄 이외의 인쇄가 적용되는 경우에 제품의 상세설명페이지에 인쇄방법 표기란에 표시된 인쇄사양이 적용되며 실크인쇄 이외의 특수인쇄(스티커 부착포함)의 경우 추가적인 인쇄비용이 별도 청구될 수 있습니다. 최소수량 이하의 수량에 대하여 인쇄를 원하실 경우 인쇄기본판비가 추가되며 인쇄기본판비는 제품에 따라 상이하므로 최소수량 이하의 주문을 하시는 고객께서는 주문 전에 미리 저희 콜센터네 문의하셔서 인쇄추가비용에 대한 안내를 받으시기 바랍니다.</p>
                    <p>&#09;우산의 경우 손잡이와 원단에 인쇄하는 가격이 상이하여 옵션선택을 통해 인쇄비용을 단가에 적용 받으실 수 있습니다. 2도 이상의 인쇄를 원하시는 경우 먼저 인쇄가능여부를 콜센터에 문의하시고 인쇄도수 추가에 대한 비용은 주문하시는 고객께서 부담하셔야 합니다.</p>
                    <p>&#09;레이저 인쇄나 프레스, 불박인쇄 등은 실크인쇄와는 달리 반영구적인 인쇄문구의 보존이 가능하지만 색상의 표현등이 불가한 점을 감안하셔서 주문하시기 바랍니다.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default" style="border-radius: 0px">
                <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionSecond" href="#collapse-s-3" style="background-color: rgba(0,0,0,0.8); border-radius: 0px">
                  <span>Q1. 인쇄비용은 어떻게 되나요?</span>
                  <span class="iconBlock iconTransparent"><i class="fa fa-chevron-down"></i></span>
                  <span class="separator"></span>
                </a>                    
                <div id="collapse-s-3" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p> &#09;저희 쇼핑몰의 대부분의 상품은 우산 등의 특정상품을 제외하고는 별도 기재가 없을 경우에 한해서 최소수량 이상을 구매하셨을 경우 실크 1도 인쇄서비스를 기본적으로 제공해 드립니다.(일부상품제외)  실크인쇄가 불가능하거나 실크인쇄 이외의 인쇄가 적용되는 경우에 제품의 상세설명페이지에 인쇄방법 표기란에 표시된 인쇄사양이 적용되며 실크인쇄 이외의 특수인쇄(스티커 부착포함)의 경우 추가적인 인쇄비용이 별도 청구될 수 있습니다. 최소수량 이하의 수량에 대하여 인쇄를 원하실 경우 인쇄기본판비가 추가되며 인쇄기본판비는 제품에 따라 상이하므로 최소수량 이하의 주문을 하시는 고객께서는 주문 전에 미리 저희 콜센터네 문의하셔서 인쇄추가비용에 대한 안내를 받으시기 바랍니다.</p>
                    <p>&#09;우산의 경우 손잡이와 원단에 인쇄하는 가격이 상이하여 옵션선택을 통해 인쇄비용을 단가에 적용 받으실 수 있습니다. 2도 이상의 인쇄를 원하시는 경우 먼저 인쇄가능여부를 콜센터에 문의하시고 인쇄도수 추가에 대한 비용은 주문하시는 고객께서 부담하셔야 합니다.</p>
                    <p>&#09;레이저 인쇄나 프레스, 불박인쇄 등은 실크인쇄와는 달리 반영구적인 인쇄문구의 보존이 가능하지만 색상의 표현등이 불가한 점을 감안하셔서 주문하시기 바랍니다.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default" style="border-radius: 0px">
                <a class="panel-heading accordion-toggle bg-color-1" data-toggle="collapse" data-parent="#accordionSecond" href="#collapse-s-4" style="background-color: rgba(0,0,0,0.8); border-radius: 0px">
                  <span>Q1. 인쇄비용은 어떻게 되나요?</span>
                  <span class="iconBlock iconTransparent"><i class="fa fa-chevron-down"></i></span>
                  <span class="separator"></span>
                </a>                    
                <div id="collapse-s-4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p> &#09;저희 쇼핑몰의 대부분의 상품은 우산 등의 특정상품을 제외하고는 별도 기재가 없을 경우에 한해서 최소수량 이상을 구매하셨을 경우 실크 1도 인쇄서비스를 기본적으로 제공해 드립니다.(일부상품제외)  실크인쇄가 불가능하거나 실크인쇄 이외의 인쇄가 적용되는 경우에 제품의 상세설명페이지에 인쇄방법 표기란에 표시된 인쇄사양이 적용되며 실크인쇄 이외의 특수인쇄(스티커 부착포함)의 경우 추가적인 인쇄비용이 별도 청구될 수 있습니다. 최소수량 이하의 수량에 대하여 인쇄를 원하실 경우 인쇄기본판비가 추가되며 인쇄기본판비는 제품에 따라 상이하므로 최소수량 이하의 주문을 하시는 고객께서는 주문 전에 미리 저희 콜센터네 문의하셔서 인쇄추가비용에 대한 안내를 받으시기 바랍니다.</p>
                    <p>&#09;우산의 경우 손잡이와 원단에 인쇄하는 가격이 상이하여 옵션선택을 통해 인쇄비용을 단가에 적용 받으실 수 있습니다. 2도 이상의 인쇄를 원하시는 경우 먼저 인쇄가능여부를 콜센터에 문의하시고 인쇄도수 추가에 대한 비용은 주문하시는 고객께서 부담하셔야 합니다.</p>
                    <p>&#09;레이저 인쇄나 프레스, 불박인쇄 등은 실크인쇄와는 달리 반영구적인 인쇄문구의 보존이 가능하지만 색상의 표현등이 불가한 점을 감안하셔서 주문하시기 바랍니다.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
  $('.accordion-toggle').click(function(){
    $('.accordion-toggle').css({"background-color" : "rgba(0,0,0,0.8)", "color" : "white", "font-weight": "300"});
    $('.iconBlock').css({"background-color" : "transparent", "color" : "white"});
    $(this).css({"background-color" : "#fed328", "color" : "#000000", "font-weight":"500"});
    $(this).children('.iconBlock').css({"background-color" : "#fed328", "color" : "#000000", "font-weight":"500"});
  });
});

</script>

<% end %>