<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div style="padding-top: 70px">

            <h3 class="logo-name" style="font-size: 80px; color: #000">KnockTurn</h1>
            <h5>서로를 알아가고(Knock), 새로운 고막의 전환점이 되는(Turn) 고막워크샵</h5> 
        </div>
        <h3 style="margin-top: 50px;">주제</h3>
        <p style="margin-bottom: 50px;">
            홀수 : 과거의 나, 현재의 나<br/>
            짝수 : 현재의 나, 미래의 나
        </p>
          
        <form class="m-t" role="form" action="/knockturns/result_save" method="GET">
            <label class="col-lg-4 control-label" style="margin-top: 7px">이름 : </label>
            <div class="form-group col-lg-8">
                <input type="text" class="form-control" name="employee_name" required="" style="text-align: right">
            </div>
            <button type="submit" class="btn btn-info block full-width m-b">주사위 굴리기</button>
        </form>
        <table class="table small m-t-sm">
            <tbody>
                <tr>
                    <td>이름</td>
                    <td>주사위 값</td>
                </tr>
                <% Dice.all.each do |dice| %>
                <tr>
                    <td><%= dice.employee_name %></td>
                    <td><%= dice.number %></td>
                </tr>
                <% end %>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <!-- <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2015</small> </p> -->
    </div>
</div>