<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div style="padding-top: 70px; margin-bottom: 50px;">

            <h3 class="logo-name" style="font-size: 80px; color: #000">KnockTurn</h3>
            <h5>서로를 알아가고(Knock), 새로운 고막의 전환점이 되는(Turn) 고막워크샵</h5> 
        </div>
        <p>결과발표</p>
        <% if @dice_num.to_i.odd? %>
            <p class="subject">발표 주제는 '과거의 나, 현재의 나' 입니다</p>
        <% else %>
            <p class="subject">발표 주제는 '현재의 나, 미래의 나' 입니다</p>
        <% end %>
        <hr>
        <div id="dice" style="background: transparent; height:200px"></div>
    </div>
</div>

<% content_for :javascript do %>
    <script type="text/javascript">

    $(function() {
        var dice_num = <%= @dice_num %>
        $("#dice").dice().click(function(){ 
            $(this).dice("roll", dice_num); 
        });

        $("#dice").click();
        $(".subject").hide();
        $(".subject").slideDown(5000);
    });

    </script>
<% end %>