<div class="col-lg-offset-2 col-lg-8">
	<div class="header-wrapper">
		<div class="header">
			<h1>GOMAKCULTURE</h1>
			<h1>무디패 디자인 진단서</h1>
		</div>
	</div>

	<div class="content-wrapper col-lg-12" id="common" style="padding-left:30px; padding-right: 30px; padding-bottom: 3%; padding-top:10px; text-align: left">
		<div class="contents-header">
			<h1 style="font-size: 40px; font-weight: 300; color:black">감사합니다</h1>
			<h2 style="font-weight:300; margin-top: 10px">디자인 진단서가 접수되었습니다</h2>
		</div>
		<div class="contents-detail" style="margin-top: 40px;">
			<div class="row" style="margin-bottom: 20px">
				<div class="col-sm-3 complete-step" style="margin-left: 4%; background-color:rgba(0,0,0,0.1)">
					<h1>Step 1.</h1>
					<p>
						진단서가 확인되면,<br/>
						담당디자이너가 배정됩니다
					</p>
				</div>
				<div class="col-sm-1">
					<br/>
					<img class="complete-image" src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/DoubleChevronRight-128.png" alt="" width="80" >
				</div>
				<div class="col-sm-3 complete-step">
					<h1>Step 2.</h1>
					<p>
						담당디자이너 배정 후,<br/>
						유선을 통해 연락드립니다.
					</p>
				</div>
				<div class="col-sm-1">
					<br/>
					<img class="complete-image" src="https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/DoubleChevronRight-128.png" alt="" width="80" >
				</div>
				<div class="col-sm-3 complete-step">
					<h1>Step 3.</h1>
					<p>
						상담이 끝나고 완성된 작업물은<br/>
						<strong style="color:#fed329">담당자의 이메일</strong>로 전송됩니다
					</p>
				</div>
			</div>
			<p style="text-align: right">상담시간 : 09:30 ~ 18:30</p>
		</div>
		<hr>
		<a href="/gomakdesigns/index" class="btn btn-info" style="width:17%; float:right">뒤로가기</a>
	</div>

	<div class="info-wrapper col-lg-12" style="text-align: left; margin-bottom:30px">
		<h3>주의사항</h3>
		<hr style="margin-top:10px; margin-bottom:10px;">
		<small>
			• 작업 진행 기간은, 자료 공유 당일은 포함되지 않습니다. <br/>
			• 긴급요청 시안 건에 대해서는 개별 상담이 필요로 합니다. <br/>
			• 기제된 작업 시간은 1차 시안에 대한 기간이며, 마무리 작업은 별도의 시간이 필요합니다. <br/>
			• 첫 거래시, 기본 1회 OT는 무료이며, 이후 추가 미팅 요청 시 비용이 청구됩니다.<br/>
		</small>
	</div>	
</div>