// Place all the styles related to the admin_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require dataTables/datatables.min.css
//= require slick/slick.css
//= require slick/slick-theme.css
//= require sweetalert/sweetalert.css