<div class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 col-xs-12" style="margin-bottom:25px">
        <p style="font-size: 10px">(주)고막컬쳐 | 사업자번호 : 210-22-22222 | 대표 : 성주영 | 통신판매업신고 : 서울 도봉구 03930호<br>
        고객지원 : 010.6899.3197 | 이메일 : ap_cctv@gomakculture.com<br>
        사업장 소재지 : 서울특별시 광진구 군자동 467-18<br>
        &copy; 2017 Copyright by 고막기프트</p>
      </div>
      <div class="col-sm-5 col-xs-12">
        <ul class="list-inline">
          <li><img src="<%= image_path('bigbag/home/footer/card1.png') %>"></li>
          <li><img src="<%= image_path('bigbag/home/footer/card2.png') %>"></li>
          <li><img src="<%= image_path('bigbag/home/footer/card3.png') %>"></li>
          <li><img src="<%= image_path('bigbag/home/footer/card4.png') %>"></li>
        </ul> 
      </div>
    </div>
  </div>
</div>