<!-- ADDRESS MODAL -->
<div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">주소입력</h3>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="">검색주소 입력(정확한 도로명+건물번호 또는 동·리+번지로 검색)</label>
            <div class="postcodify" id="postcodify"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>