<!-- cs설명   -->
<div class="container footer-custom">
  <div class="col-sm-9">
    <div class="col-sm-4">
      <dl>
        <dt class = "category">
          ABOUT US
        </dt>
        <dd>
          <a class="link" href="#">회사소개</a>
        </dd>
      </dl>
    </div>
    <div class="col-sm-4">
      <dl>
        <dt class = "category">
          MY ORDER
        </dt>
        <dd>
          <a class="link" href="#">주문배송조회</a>
        </dd>
        <dd>
          <a class="link" href="#">주문취소</a>
        </dd>
      </dl>
    </div>
    <div class="col-sm-4">
      <dl>
        <dt class = "category">
          HELP
        </dt>
        <dd>
          <a class="link" href="#">1:1 상담</a>
        </dd>
        <dd>
          <a class="link" href="/gifts/support">자주 찾는 FAQ</a>
        </dd>
        <dd>
          <a class="link" href="#">무통장 입금계좌</a>
        </dd>
      </dl>
    </div>
  </div>
  <div class="col-sm-3" style="text-align: right">
    <h5 style="margin-bottom: 10px">상담전화</h5>
    <h1>1522 - 9406</h1>
    <h6 style="margin-top: 0px;margin-bottom: 5px">support@gomakgift.com</h6>
    <h6 style="margin-top: 5px">AM 09:30 - PM 06:30</h6>
  </div>
</div>
<div class="copyRight clearfix">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12" style="margin-bottom:15px">
        <p style="font-size: 10px">
        <a href="/terms/privacy_policy">개인정보취급방침</a> | <a href="/terms/terms_and_conditions">이용약관</a>  
        <br/>(주)고막컬쳐 | 사업자번호 : 274-81-00503 | 대표 : 성주영 | 통신판매업신고 : 서울 도봉구 03930호
        <a href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=2748100503" target="_blank" style="border: 1px solid #acacac; padding: 2px; margin-left: 5px;" onMouseOver="this.style.backgroundColor='#555'" onMouseOut="this.style.backgroundColor='transparent'">사업자확인</a><br>
        고객지원 : 1522 - 9406 | FAX : 070 - 7426 - 9406 | 이메일 : ap_cctv@gomakculture.com | 사업장 소재지 : 서울특별시 광진구 면목로 39, 1층(군자동)
        | &copy; 2017 Copyright by 고막기프트</p>
      </div>
    </div>
  </div>
</div>